body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("Images/Fundo Cardápio.jpeg"); /* Coloque o caminho da sua imagem aqui */
    /*background-size: cover;*/
    color: white;
}

.container {
    background: rgba(0, 0, 0, 0.7); /* Fundo semi-transparente */
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
   
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.menu {
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin: 15px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px 0;
}

h2 {
    margin: 0;
    font-size: 1.5em;
}

p {
    margin: 5px 0;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.cart {
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 5px;
}
